# Dependencies
node_modules/

# Production / Build
dist/
build/

# Environment files
.env
.env.local

# IDE / System files
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
